{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-3">
            <h2 class="title">{{title}}</h2>
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="/">Home</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> {{title}}</li>
        </ul>
    </div>
</section>
<section class="w3l-about py-5" id="about">
    <div class="container py-lg-5 py-md-3">
        <div class="about-block">
        	<div class="row">
        		<div class="col-md-6 mx-auto">
        			<form action="#" method="post" class="ActiveForm" novalidate>
                        <h5 class="mb-4">Equipmebt details</h5>
                        {% csrf_token %}
                        <div class="form-style-w3ls">
                        	<div class="form-group">
                        		<label for="">Select equipment</label>
                              	<select class="form-control" name="state" data-width="100%">
	                                <option value="" selected disabled>Select equiment</option>
	                                {% for item in equipments %}
	                                <option value="{{item.id}}">{{item.name}}</option>
	                                {% empty %}
	                                <option value="" disabled="">No equipment(s) found</option>
	                                {% endfor %}
	                            </select>
                            </div>
                        	<div class="form-group">
                        		<label for="">Quantity</label>
                        		{{form.quantity}}
                        		<div class="feedback"></div>
                        	</div>
                            
                            <div class="form-group">
                            	<label for="">Device rating</label>
                            	{{form.rating}}
                        		<div class="feedback"></div>
                            </div>
                            <div class="form-group">
                            	<label for="">No of hours used</label>
                            	{{form.hours_used}}
                        		<div class="feedback"></div>
                            </div>
                            <button class="btn btn-style btn-primary w-100"> Submit</button>
                        </div>
                    </form>
        		</div>
        	</div>
        </div>
    </div>
</section>
{% endblock %}