{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<section id="home" class="w3l-banner py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="row align-items-center py-lg-4 py-md-3">
            <div class="col-lg-6 col-sm-12">
                <div class="position-relative editor border-edit">
					<h3 class="mb-md-4 mb-3 content text-capitalize" data-name="h1">{{about.h1|default:'Section title'}}</h3>
					<i class="penwrapper fa fa-pencil"></i>
				</div>
				<br>
                <div class="position-relative editor border-edit">
		        	<i class="penwrapper fa fa-pencil"></i>
		        	<p class="content" data-name="h1_text">
	                	Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, excepturi.
	                    Distinctio accusantium fugit odit? Fugit ipsam. Sed ac fringilla ex. Nam mauris velit, ac
	                    cursus quis, non leo.</p>
	            </div>
                <div class="mt-sm-5 mt-4">
                    <a class="btn btn-primary btn-style" href="{% url 'weekly consuption' %}"> Check weekly consuptions </a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-8 col-sm-10 mt-lg-0 mt-md-5 mt-4">
                <div class="banner-form-w3">
                    <!-- banner form -->
                    <form class="ActiveForm" action="#" method="post" novalidate>
                    	{% csrf_token %}
                        <h5 class="mb-4">Enter weekly meter reading</h5>
                        <div class="form-style-w3ls">
                        	<div class="form-group">
                        		<label for="">Date</label>
                        		{{form.date}}
                        		<div class="feedback"></div>
                        	</div>
                            <div class="form-group">
                              	<select class="form-control" name="meter_name" data-width="100%">
	                                <option value="" selected disabled>Select meter name*</option>
	                                {% for item in meters %}
		                                <option value="{{item.pk}}">{{item.name}}</option>
		                            {% empty %}
	                                	<option value="" disabled="">No meter(s) found</option>
	                                {% endfor %}
	                            </select>
	                            <div class="feedback"></div>
                            </div>
                            <div class="form-group">
                            	<label for="">Meter location</label>
                            	{{form.meter_location}}
                            	<div class="feedback"></div>
                            </div>
                            <div class="form-group">
                            	<label for="">Meter reading</label>
                            	{{form.meter_reading}}
                            	<div class="feedback"></div>
                            </div>
                            <button class="btn btn-style btn-primary w-100"> Submit</button>
                        </div>
                    </form>
                    <!-- //banner form -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-bottom-grids-6 py-5" id="who">
    <div class="container py-lg-5 py-md-4">
        <div class="grids-area-hny main-cont-wthree-fea row pt-lg-4">
            <div class="col-lg-4 col-md-6 grids-feature">
                <div class="area-box">
                    <span class="fa fa-plug"></span>
                    <div class="info">
                        <h4><a href="#feature" class="title-head">Weekly Consuption</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
                <div class="area-box">
                    <span class="fa fa-cog"></span>
                    <div class="info">
                        <h4><a href="#feature" class="title-head">Analyzer</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
                <div class="area-box">
                    <span class="fa fa-money"></span>
                    <div class="info">
                        <h4><a href="#feature" class="title-head">Cost calculator</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="display:none">
    	<div class="col-md-6 col-12 mx-auto">
			<div class="form-area">
				<form action="{% url 'home updater' %}" novalidate method="post" class="ActiveForm">
			        {% csrf_token %}
			        <div class="form-group">
			        	{{form1.h1}}
			           <div class="feedback"></div>
			        </div> 
			        <div class="form-group">
			        	{{form1.h1_text}}
			           <div class="feedback"></div>
			        </div>
			        <div class="text-center">
			            <button class="btn btn-primary input-rounded">Submit</button>
			        </div>
			   </form>
			</div>
    	</div>
    </div>
</section>
{% endblock %}